.asignaturas,
.niveles {
  background-color: #eeefed;
}
.asignaturas__titulo,
.niveles__titulo {
  font-size: large;
  font-family: 'Ubuntu', sans-serif;
  line-height: inherit;
  color: #4070af;
  margin: 14px 40px 20px;
  border-bottom: #b3c9ea solid 1px;
}
.asignaturas__lista,
.niveles__lista {
  margin: 0 60px 10px 60px;
}
.asignaturas {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.niveles {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-right: 2px;
}
.nombre__asignatura,
.nivel__cbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  aling-items: center;
  border-bottom: 1px solid #c7cdd8;
  line-height: 26px;
  margin: 10px 0;
}
.nombre__asignatura::after,
.nivel__cbox::after {
  content: url("images/arrow.svg");
  display: block;
  height: auto;
  width: 20px;
  left: 40px;
  position: relative;
}
.nombre__asignatura a,
.nivel__cbox a {
  min-width: 100px;
  font-size: 20px;
}
.nombre__asignatura a#nivel__link:hover,
.nivel__cbox a#nivel__link:hover {
  display: block;
  color: #ff7b38;
  text-decoration: none;
  text-shadow: -1px 1px 6px #fff;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nombre__asignatura::after {
  content: "";
}
.nuevos__reportes {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: initial;
  -moz-box-pack: initial;
  -o-box-pack: initial;
  -ms-flex-pack: initial;
  -webkit-justify-content: initial;
  justify-content: initial;
  padding: 1px;
  margin: 40px 35px 60px 40px;
}
.objetivo,
.indicador {
  width: 50%;
  text-align: center;
}
.datos__objetivo,
.datos__indicador {
  width: 50%;
  text-align: center;
}
.datos__objetivo__indicador {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  border-top: 1px solid rgba(0,0,0,0.22);
}
.datos__objetivo__indicador p {
  margin-top: 10px;
}
.objetivo__indicador p::after {
  background-image: url("images/triangle-down.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 6px;
  margin: 5px auto 0;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  width: auto;
}
.objetivo__indicador__porcien p::after {
  background-image: url("images/triangle-down.svg");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 6px;
  margin: 5px auto 0;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  width: auto;
}
.objetivo__indicador,
.objetivo__indicador__porcien {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.objetivo__indicador__porcien .objetivo,
.objetivo__indicador__porcien .indicador,
.objetivo__indicador__porcien .porcien {
  text-align: center;
  width: 30%;
}
.datos__objetivo__indicador__porcien {
  border-top: rgba(0,0,0,0.22) 1px solid;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.datos__objetivo__indicador__porcien p {
  margin-top: 10px;
}
.datos__objetivo__indicador__porcien .datos__objetivo,
.datos__objetivo__indicador__porcien .datos__indicador,
.datos__objetivo__indicador__porcien .datos__porcien {
  text-align: center;
  width: 30%;
}
.unidad__titulo {
  text-align: center;
}
.mineduc {
  width: 200px;
  background-color: #f0f8ff;
  margin-left: 2%;
}
.contenedor__unidades {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  margin-left: 4%;
}
.asigna::after {
  content: url("images/triangle-right.svg");
  margin: 0 0 0 10px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  position: relative;
  top: 1px;
}
.asignaturas__contenedor {
  line-height: 2;
  margin-top: 100px;
  text-align: right;
}
.asigna__planificada,
.extra__data {
  background-color: #fff6ea;
  margin-left: 2%;
  width: 200px;
}
.asigna__realizada {
  background-color: #f0fff0;
  margin-left: 2%;
  width: 200px;
}
.asigna__realizada,
.asigna__planificada,
.mineduc {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #e2dfe8 0px 3px 6px;
  box-shadow: #e2dfe8 0px 3px 6px;
}
.extra__data__realizada,
.extra__data {
  background-color: #fffff1;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  -webkit-box-shadow: 0px 3px 30px #7b7b7b;
  box-shadow: 0px 3px 30px #7b7b7b;
  margin-left: -200px;
  padding-bottom: 6px;
  position: absolute;
  overflow: auto;
  max-height: 480px;
}
.extra__data__realizada .titulo__planificado,
.extra__data .titulo__planificado,
.extra__data__realizada .titulo__falta__planificar,
.extra__data .titulo__falta__planificar {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 6px;
  margin: 0;
  display: block;
}
.extra__data__realizada .titulo__planificado,
.extra__data .titulo__planificado {
  background: -webkit-linear-gradient(top, rgba(92,191,85,0.78) 0%, rgba(154,255,121,0.66) 100%);
  background: -moz-linear-gradient(top, rgba(92,191,85,0.78) 0%, rgba(154,255,121,0.66) 100%);
  background: -o-linear-gradient(top, rgba(92,191,85,0.78) 0%, rgba(154,255,121,0.66) 100%);
  background: -ms-linear-gradient(top, rgba(92,191,85,0.78) 0%, rgba(154,255,121,0.66) 100%);
  background: linear-gradient(to bottom, rgba(92,191,85,0.78) 0%, rgba(154,255,121,0.66) 100%);
}
.extra__data__realizada .titulo__falta__planificar,
.extra__data .titulo__falta__planificar {
  background: -webkit-linear-gradient(top, rgba(255,2,60,0.3) 0%, rgba(255,121,152,0.3) 100%);
  background: -moz-linear-gradient(top, rgba(255,2,60,0.3) 0%, rgba(255,121,152,0.3) 100%);
  background: -o-linear-gradient(top, rgba(255,2,60,0.3) 0%, rgba(255,121,152,0.3) 100%);
  background: -ms-linear-gradient(top, rgba(255,2,60,0.3) 0%, rgba(255,121,152,0.3) 100%);
  background: linear-gradient(to bottom, rgba(255,2,60,0.3) 0%, rgba(255,121,152,0.3) 100%);
  border-top-left-radius: 8px;
}
.extra__data__realizada {
  background-color: #f1fff6;
  min-width: 200px;
}
.extra__data__realizada .indicador {
  width: 100%;
}
.extra__data {
  background-color: #fffff1;
}
.titulo__unidad {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
  -o-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  transform-origin: left top 0;
  margin-left: 33px;
  font-size: 14px;
  top: -10px;
  position: relative;
}
.unidades {
  color: #708090;
  list-style: none;
}
.unidades li {
  padding: 40px 0;
}
.unidades li:nth-child(2n+1) {
  background-color: #f7f7f6;
}
.unidad__titulo {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.48) 4%, rgba(236,238,240,0.48) 52%, rgba(217,220,224,0.4) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0.48) 4%, rgba(236,238,240,0.48) 52%, rgba(217,220,224,0.4) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,0.48) 4%, rgba(236,238,240,0.48) 52%, rgba(217,220,224,0.4) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,0.48) 4%, rgba(236,238,240,0.48) 52%, rgba(217,220,224,0.4) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.48) 4%, rgba(236,238,240,0.48) 52%, rgba(217,220,224,0.4) 100%);
  border-bottom: #daddde 1px solid;
  text-align: center;
  padding-bottom: 8px;
  margin: 0 0 13px;
  display: block;
  padding-top: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
